WCFMedical/WCFAplicationsMedical/Connected Services/WCFServiceSolicitud/Solicitudes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServices.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServices.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Solicitud">
    <xs:sequence>
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nu_Solicitud" type="xs:int" />
      <xs:element minOccurs="0" name="co_Cliente" type="xs:int" />
      <xs:element minOccurs="0" name="dni_medio" type="xs:int" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fe_registro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="observa" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Solicitud" nillable="true" type="tns:Solicitud" />
  <xs:complexType name="ArrayOfSolicitud">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Solicitud" nillable="true" type="tns:Solicitud" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSolicitud" nillable="true" type="tns:ArrayOfSolicitud" />
</xs:schema>