WCFMedical/WCFAplicationsMedical/Connected Services/WCFServiceCliente/Clientes1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServices.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServices.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="cod_cliente" type="xs:int" />
      <xs:element minOccurs="0" name="des_ape_materno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="des_ape_paterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="des_direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="des_distrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="des_email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="des_nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fec_nacimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ind_estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="num_telefono" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
  <xs:complexType name="ArrayOfCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cliente" nillable="true" type="tns:Cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCliente" nillable="true" type="tns:ArrayOfCliente" />
</xs:schema>